{{ template "header.html" . }}
<div class="auth-page">
  <div class="popup-popup">
    <div class="popup">
      <div class="popup-title">
        Добро пожаловать
      </div>
      <div class="popup-content">
        <form class="auth-form" method="post" action="{{ .PostURL }}">
          <div class="form-group">
            <input type="text" tabindex="1" required id="login" name="login" class="input login-input" placeholder="Логин/email" oninvalid="this.setCustomValidity('Заполните поле логина')" oninput="setCustomValidity('')" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus {{ end }} />
          </div>
          <div class="form-group">
            <input type="password" tabindex="2" required id="password" name="password" class="input pass-input" placeholder="Пароль" oninvalid="this.setCustomValidity('Заполните поле пароля')" oninput="setCustomValidity('')" {{ if .Invalid }} autofocus {{ end }}/>
          </div>
		  {{ if .Invalid }}
			<div id="login-error" class="error-password">
				Неверный пароль
			</div>
		  {{ end }}		  
          <div class="form-group">
            <input type="submit" class="btn btn-submit" value="ВХОД">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ template "footer.html" . }}
